#all-tweets article {
  background-color: white;
  margin: 2em;
  border-radius: 6px;
  border: 1px solid;
  border-color: #D3D3D3;
  color: #708090;
}

/*HEADER-RELATED*/

#all-tweets header {
  background-color: #eee;
  height: 80px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  padding: 10px;
}

#all-tweets header img {
  height: 60px;
  width: 60px;
  border-radius: 6px;
  float: left;
  margin-right: 15px;
}

.full-name {
  display: inline-block;
  margin: auto;
  float: left;
  font-weight: bold;
  font-size: 24px;
}

.handle {
  display: inline-block;
  float: right;
  margin: auto;
  color: #A9A9A9;
}

/*TWEET-RELATED*/

#all-tweets article > p {
  /*height: 90px;*/
  padding: 10px;
}

#all-tweets article p {
  margin: auto;
}

/*FOOTER-RELATED*/

#all-tweets footer {
  border-top: 1px solid;
  border-top-color: #D3D3D3;
  height: 42px;
  font-size: 14px;
  padding: 14px;
}

#all-tweets footer p {
  margin: auto;
  display: inline-block;
}

#all-tweets footer i.fa {
  float: right;
  color: #00a087;
  margin: auto;
  display: inline-block;
  opacity: 0;
  padding: 2px;
}

#all-tweets > article:hover i.fa {
  opacity: 1;
}

#all-tweets > article:hover {
  border-color: #244751;
  color: #244751;
}

#all-tweets > article:hover .handle {
  color: #708090;
}
