nav {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 1000;

  img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 5px;
  }

  span {
    margin-left: 5px;
    float: left;
    font-size: 200%;
    line-height: 2.5;
  }

  button {
    border: 1px solid black;
    float: right;
    height: 50px;
    width: 100px;
    margin-top: 15px;
    color: #00a087;
    border-radius: 6px;
    background-color: white;
    font-weight: bold;
  }

  button:hover {
    background-color: #eee;
  }
}
